<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<packageSources>
		<add key="NuGet v2" value="https://www.nuget.org/api/v2" />
		<add key="NSB Autofac" value="https://www.myget.org/F/nsbautofac/api/v2" />
		<add key="Autofac Myget" value="https://www.myget.org/F/autofac/" />
		<add key="particular myget.org" value="https://www.myget.org/F/particular/" />
	</packageSources>
	<disabledPackageSources>
	</disabledPackageSources>
</configuration>